<%= month_calendar(start_date_param: :id) do |date| %>
  <%= link_to note_path(date), data: { turbo_frame: '_top' } do %>
    <div class="
      <%= date_classes(date, params[:id]) %>
      lg:h-8 xl:h-12 2xl:h-16 w-full min-w-max
      border border-gray-300
      table
      text-sm lg:text-base
    ">
      <span class="table-cell align-middle text-center">
        <%= date.mday %>
      </span>
    </div>
  <% end %>
<% end %>
