<%= month_calendar(start_date_param: :id) do |date| %>
  <%= link_to note_path(date), data: { turbo_frame: '_top' } do %>
    <div class="
      <%= date_classes(date, params[:id]) %>
      h-12 w-full
      min-w-fit
      border border-gray-300
      table
    ">
      <span class="table-cell align-middle text-center">
        <%= date.mday %>
      </span>
    </div>
  <% end %>
<% end %>
