<div class="grid grid-cols-4 gap-4">
  <div class="col-span-1 min-w-max">
    <%= turbo_frame_tag 'calendar' do %>
      <% cache @note do %>
        <%= render "calendar", note: @note%>
      <% end %>
    <% end %>

  </div>

  <div class="h-screen col-start-2 col-span-4">
    <%= render "form", note: @note%>
  </div>
</div>
