<div class="grid grid-cols-4 gap-4 h-[90vh]">
  <div class="lg:block lg:col-span-1 lg:min-w-max hidden">
    <%= turbo_frame_tag 'calendar' do %>
      <% cache @note do %>
        <%= render "calendar", note: @note%>
      <% end %>
    <% end %>

  </div>

  <div class="lg:h-full lg:col-start-2 col-start-1 col-span-4">
    <%= render "form", note: @note%>
  </div>
</div>
